.crystal-image {
  width: 120px;
  height: 120px;
  margin-right: 5px;
  margin-bottom: 10px;
}

body {
  background: url("../images/background.jpg");
} 

#top {
  padding: 15px;
  font-family: 'Times New Roman', Times, serif; 
  margin-top: 5px;
  margin-bottom: 10px;
}

#body {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 5px;
  margin-bottom: 5px;
}

#target {
  padding: 15px;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
}

#winloss {
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
}

#wins {
  font-family: 'Times New Roman', Times, serif;
  padding-top: 5px;
}

#losses {
  font-family: 'Times New Roman', Times, serif;
}

#crystals {
  margin-top: 5px;
  margin-bottom: 5px;
}

totalscoreis {
  margin-top: 10px;
  margin-bottom: 5px;
}

#score {
  padding: 15px;
  margin-top: 5px;
}



